<footer>
    <div class="footer-wrapper">
        <h4>BroadBoard &copy; </h4>
        <h3>2020-2020 JEREMY individual contributor. <br> Content is available under no licenses.</h3>
    </div>
</footer>
</body>

</html>