<%- include("./partials/header") %>

<section id="about">
  <div class="about-wrapper">
    <h2>What is BroadBoard...?</h2>
    <h1>It is a simple board style website created mainly on practice purpose. There are Login & Sign Up pages to provide authentification. Registered users can create their own boards. Editing & deleting board are only available for logged in users</h1>
        <h1>Let's fill up this page more with random quotes</h1>
        <div class="quotes">
        <h1><i>"The greatest glory in living lies not in never falling, but in rising every time we fall." -Nelson Mandela</i></h1>
        <h1><i>"The way to get started is to quit talking and begin doing." -Walt Disney</i></h1>
        <h1><i>"If life were predictable it would cease to be life, and be without flavor." -Eleanor Roosevelt</i></h1>
        </div>
    </div>
</section>

<%- include("./partials/footer") %>