<%- include("./partials/header") %>

<!-- if user is login in -->
<div class="content">
    let this to be user info
</div>
<div class="content">
    let this to be user info
</div>
<div class="content">
    let this to be user info
</div>
<div class="content">
    let this to be user info
</div>

<%- include("./partials/footer") %>
