/* Global Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    color: whitesmoke;
}
li,button,ul,p,a {
    font-size: 2rem;
    list-style-type: none;
}
h1 {
    font-size: 2.8rem;
}
h2 {
    font-size: 4.0rem;
}
h3 {
    font-size: 1.2rem;
}
h4 {
    font-size: 2rem;
}
h5 {
    font-size: 2.4rem;
}
h6 {
    font-size: 3.5rem;
}
h7 {
    font-size: 1.6rem
}
th,td {
    font-size: 2rem;
    padding: 1rem 3rem;
    color: white;
}


/* Navbar */

#main-head {
    background: #0e3a63;
    color: black;
    position: sticky;
    top: 0px;
    z-index: 3;
}

nav {
    display: flex;
    min-height: 10vh;
    width: 90%;
    padding: 1rem;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
}
nav ul {
    display: flex;
    flex: 1 1 50rem;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
}
#logo {
    display: flex;
    flex: 2 1 30rem;
    font-family: 'Pattaya', sans-serif;
    font-weight: normal;
}
nav a:hover {
    color: lightcoral;
}
#logo a {
    font-size: 4rem;
}
nav ul a {
    font-size: 2.3rem;
    font-weight: bold;
}
.flash-success, .flash-error {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 10%;
    z-index: 2;
    overflow: hidden;
    animation: fadeOut 2.0s forwards 2.0s;
    -moz-animation: fadeOut 2.0s forwards 2.0s;
    -webkit-animation: fadeOut 2.0s forwards 2.0s;
    -o-animation: fadeOut 2.0s forwards 2.0s;
}
.flash-success {
    background: #0e3a63;
}
.flash-error {
    background: rgb(228, 107, 99);
}
.flash-success h4, .flash-error h4 {
    padding: 1rem;
    color: white;
    font-weight: lighter;
}
@keyframes fadeOut {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-moz-keyframes fadeOut {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-webkit-keyframes fadeOut {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-o-keyframes fadeOut {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

/* Footer Section */

footer {
    color: rgb(133, 150, 172);
    background: rgb(17, 24, 34);
    bottom: 0px;
}
.footer-wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 7.5vh;
    font-size: 1rem;
    flex-wrap: wrap;
    align-items: center;
}
footer h3 {
    margin-left: 2rem;
    font-weight: normal;
}



/* Main Section */

#main {
    background: linear-gradient(0deg, rgba(0, 255, 255, 0.3), transparent), url(/img/close-up-photo-of-assorted-color-of-push-pins-on-map-1078850.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 82.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-wrapper {
    width: 60%;
    margin: auto;
    background: rgba(0, 0, 0, 0.85);
    border-bottom-right-radius: 40px;
    color: whitesmoke;
    padding: 4rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.main-wrapper h2 {
    font-weight: normal;
}
.main-wrapper h1 {
    margin: 2rem 0;
    font-weight: normal;
}
#nickname {
    font-size: 6.0rem;
    color: lightcoral;
    font-family: 'Pattaya', sans-serif;
    font-weight: lighter;
}


/* About Section */
#about {
    background: linear-gradient(0deg, rgba(0, 255, 255, 0.5), transparent), url(/img/person-on-a-bridge-near-a-lake-747964.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 82.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-wrapper {
    width: 60%;
    margin: auto;
    background: rgba(0, 0, 0, 0.8);
    border-bottom-right-radius: 40px;
    color: whitesmoke;
    padding: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.about-wrapper h2 {
    font-weight: normal;
}
.about-wrapper h1 {
    margin: 1rem 0;
    font-weight: normal;
    font-size: 2rem;
}
.quotes h1{
    text-align: center;
    font-weight: lighter;
    font-size: 1.5rem;
}

/* Board Section */
.board-background {
    min-height: 82.5vh;
    background: linear-gradient(0deg, rgba(0, 17, 255, 0.2),  transparent), url(/img/light-bulb-beside-books-on-shelf-2767814.jpg);
    background-size: cover;
    background-position: center;
}

#board {
    display: flex;
    flex-direction: column;
}
.board-wrapper {
    background-color: rgba(0, 0, 0, 0.85);
    border-bottom-right-radius: 20px;
    width: 75%;
    margin: 1rem auto;
    margin-top: 1rem;
    padding: 1rem 2rem;
    color: rgb(155, 155, 155);
    list-style-type: none;
}
.numtitle {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0.5rem 0;
}
.number {
    color: rgb(98, 97, 148);
}
.numtitle h5 {
    font-weight: lighter;
}
.numtitle a:hover {
    color: lightcoral;
}
.dateview {
    display: flex;
}

.board-wrapper ul h5,.views {
    margin: 0 2rem;
}
.board-wrapper h4 {
    color: lightcoral;
}
.board-new {
    width: 75%;
    margin: 4rem auto 3rem;
    display: flex;
}
.board-new h4 {
    display: inline;
    font-weight: lighter;
    background: rgba(0, 0, 0, 0.85);
    color: rgb(175, 175, 175);
    padding: 2rem 2rem;
}
.board-new a {
    display: inline;
    background: rgba(0, 0, 0,0.85);
    color: white;
    padding: 2rem 2rem;
    font-size: 2.5rem;
}
.board-new a:hover {
    color: lightcoral;
}
.board-page {
    width: 75%;
    background-color: rgba(0, 0, 0, 0.85);
    align-self: center;
    margin: 1.5rem auto 2.5rem;
    padding: 1rem;
}
#page {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.page-num {
    width: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3rem;
}
.page-item a:hover {
    color: lightcoral;
}
.page-link:hover {
    color: lightcoral;
}
.active .page-link {
    color: lightcoral;
}

/* Show single Board */
#board-show {
    min-height: 82.5vh;
    background: linear-gradient(0deg, rgba(0, 17, 255, 0.2),  transparent), url(/img/abstract-art-artistic-book-261806.jpg);
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    display: flex;
}
.show-wrapper {
    background-color: rgba(0, 0, 0, 0.85);
    border-bottom-right-radius: 40px;
    width: 75%;
    margin: 5rem auto;
    padding: 8rem 8rem;
}
.show-user {
    font-family: 'Pattaya', sans-serif;
    font-weight: lighter;
    color: lightcoral;
}
.show-dateview {
    display: flex;
    margin: 1.5rem 0;
    color: grey;
}
.show-dateview h4 {
    font-weight: lighter;
    margin-right: 2rem;
}
.show-writing {
    font-weight: lighter;
}
.board-btn {
    display: flex;
    margin-top: 0.5rem;
    text-align: center;
    flex-direction: row-reverse;
}
.board-btn button {
    width: 125px;
    padding: 1rem 2rem;
    margin: 1rem 0;
    border: none;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
    border-radius: 7px;
}
#bedit {
    background: rgb(25, 153, 132)
}
#bdelete {
    margin-left: 1.5rem;
    background: rgb(228, 107, 99);
}
#bedit:hover {
    background: rgb(16, 100, 86);
    font-weight: bold;
}
#bdelete:hover {
    background: rgb(184, 74, 66);
    font-weight: bold;
}

.comment-show {
    display: flex;
    flex-direction: column;
}
.comment {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 17, 255, 0.05);
    margin-top: 4rem;
    padding: 1.5rem;
}
.comment-user {
    display: block;
    font-family: 'Pattaya', sans-serif;
    font-weight: lighter;
    color: lightcoral;
    margin-top: 3rem;
}
.comment-date {
    color: grey;
}
.comment-dateview {
    display: flex;
}
.comment-dateview h3:nth-of-type(2) {
    margin-left: 1.0rem;
}
.comment-user,.comment-text,.comment-date,.nocomment {
    font-weight: lighter;
}
.comment-add {
    max-width: 100%;
    margin: auto;
    margin-top: 2rem;
    background-color: rgba(0, 17, 255, 0.05);
}
.add-item {
    padding: 0.5rem;
    margin-left: 2rem;
}
.comment-add h4 {
    font-weight: lighter;
    color: rgb(146, 146, 146);
}
.comment-add form {
    display: flex;
    flex-direction: column;
}
.comment-add textarea {
    max-width: 98%;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    padding: 0.5rem;
}
.comment-edit textarea {
    max-width: 98%;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    padding: 0.5rem;
}
.comment-add button {
    max-width: 30%;
    padding: 1rem 2rem;
    margin: 1rem 0;
    background: rgb(25, 153, 132);
    border: none;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
    border-radius: 7px;
}
.comment-add button:hover {
    background: rgb(16, 100, 86);
    font-weight: bold;
}
.comment-showbtn {
    display: flex;
    margin-top: 0.5rem;
    text-align: center;
}
.comment-showbtn button {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    margin-right: 1rem;
    width: 50px;
    height: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.comment-edit {
    margin-top: 0.5rem;
    text-align: left;
    padding: 0 0 2.5rem;
}
.comment-edit button {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    margin-top: 1rem;
    margin-right: 1rem;
    width: 50px;
    height: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    float: left;
}
#cedit {
    background: rgb(25, 153, 132)
}
#cdelete {
    background: rgb(228, 107, 99);
}
#cedit:hover {
    background: rgb(16, 100, 86);
    font-weight: bold;
}
#cdelete:hover {
    background: rgb(184, 74, 66);
    font-weight: bold;
}
#cconfirm {
    background: rgb(25, 153, 132)
}
#ccancel {
    background: rgb(228, 107, 99);
}
#cconfirm:hover {
    background: rgb(16, 100, 86);
    font-weight: bold;
}
#ccancel:hover {
    background: rgb(184, 74, 66);
    font-weight: bold;
}
.comment-edit,
.comment-edit-enabled .comment-show {
  display:none;
}
.comment-edit-enabled .comment-edit {
  display:inherit;
}


/* Edit Board */
#board-edit,#board-new {
    min-height: 82.5vh;
    background: linear-gradient(0deg, rgba(255, 33, 118, 0.5),  transparent), url(/img/low-light-photo-of-opened-book-159872.jpg);
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    display: flex;
}
.edit-wrapper,.new-wrapper {
    background-color: rgba(0, 0, 0, 0.85);
    border-bottom-right-radius: 40px;
    width: 75%;
    margin: 5rem auto;
    padding: 8rem 8rem;
}
.edit-wrapper span {
    color: lightcoral;
}
.edit-wrapper form,.new-wrapper form {
    margin-top: 2rem;
}
.edit-wrapper .edit-writing, .new-wrapper .new-writing {
    margin-top: 2rem;
}
.edit-title .title, .new-title .title {
    max-width: 100%;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 7px;
    padding: 1rem;
}
.edit-writing .writing, .new-writing .writing {
    max-width: 100%;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 7px;
    padding: 1rem;
}
.edit-wrapper button,.new-wrapper button {
    width: 100%;
    padding: 1rem 2.5rem;
    margin-top: 2.5rem;
    border: none;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
    border-radius: 7px;
}
#bconfirm {
    background: rgb(25, 153, 132);
}
#bcancel {
    background: rgb(228, 107, 99);
}
#bconfirm:hover {
    background: rgb(16, 100, 86);
    font-weight: bold;
}
#bcancel:hover {
    background: rgb(184, 74, 66);
    font-weight: bold;
}



/* Log-in Join Part */
#login,#join {
    min-height: 82.5vh;
    background: linear-gradient(0deg, rgba(255, 0, 221, 0.2),  transparent), url(/img/two-person-standing-under-lot-of-bullet-cctv-camera-374103.jpg);
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-wrapper,.join-wrapper {
    background-color: rgba(0, 0, 0, 0.85);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1, 1, 40rem;
}
.login-wrapper h1,.join-wrapper h1 {
    font-size: 4.0rem;
    font-weight: normal;
    margin: 2rem;
}
.login-wrapper .form-group,.join-wrapper .form-group {
    margin: 1rem;
    font-size: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-wrapper label,.join-wrapper label {
    margin-right: 3rem;
}
.login-wrapper h5,.join-wrapper h5 {
    font-weight: lighter;
}
.login-wrapper #password,.join-wrapper #password {
    margin-left: 1.0rem;
}
.login-wrapper input,.join-wrapper input {
    padding: 1rem 2rem;
}
#login button,#join button {
    width: 100%;
    padding: 1rem;
    margin-top: 4rem;
    font-size: 2.4rem;
    color: white;
    background: #0e3a63;
    cursor: pointer;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
}
#login button:hover, #join button:hover{
    background: #092844;
    color: lightcoral;
}



/* Media Query */

@media screen and (max-width: 932px) {
    html {
        font-size: 55%;
    }
    #logo {
        justify-content: center;
    }
    .box {
        width: 90%;
        padding: 1rem;
    }
    .main-wrapper {
        width: 80%;
        margin: auto;
    }
    .about-wrapper {
        width: 70%;
        padding: 3rem;
    }
    .board-wrapper th:nth-of-type(3) {
        min-width: 65%;
    }
    #board th:nth-of-type(1),td:nth-of-type(1) {
        display: none;
    }
    .show-wrapper {
        width: 80%;
        padding: 8rem 6rem;
        margin: 4rem auto;
    }
    .login-wrapper,.join-wrapper {
        min-width: 55%;
    }
    .board-btn button {
        width: 100px;
    }
    .edit-wrapper,.new-wrapper {
        width: 80%;
        padding: 8rem 6rem;
        margin: 4rem auto;
    }
}

@media screen and (max-width: 550px) {
    html {
        font-size: 45%;
    }
    .main-wrapper {
        width: 95%;
        margin: auto;
    }
    .about-wrapper {
        width: 80%;
        padding: 2rem;
    }
    .board-wrapper th:nth-of-type(3) {
        min-width: 85%;
    }    
    #board th:nth-of-type(4),td:nth-of-type(4),th:nth-of-type(5),td:nth-of-type(5) {
        display: none;
    }
    .show-wrapper {
        width: 90%;
        padding: 4rem 3rem;
        margin: 3rem auto;
    }
    .login-wrapper,.join-wrapper {
        min-width: 85%;
    }
    .board-new h4 {
        font-size: 1.4rem;
    }
    .comment-dateview h3:nth-of-type(2) {
        margin-left: 0.5rem;
    }
    .board-btn button {
        width: 75px;
    }
    .edit-wrapper,.new-wrapper {
        width: 90%;
        padding: 4rem 3rem;
        margin: 3rem auto;
    }
}