<h4 class="add-item">Add comment</h4>
<form class="add-item" action="/boards/<%= board._id %>/comments" method="post">
    <textarea name="text" cols="100" rows="2"></textarea>
    <button>Create</button>
</form>